<div>
    <label>Titulo</label>
    <input type="text" class="form-control" [(ngModel)]="objetoTarea.titulo"/>
    <br>
    <label>Descripcion</label>
    <input type="text" class="form-control" [(ngModel)]="objetoTarea.descripcion"/>
</div>
<button (click)="enviar()" class="btn btn-danger"> Enviar</button>
{{objetoTarea | json}}


<label for="basic-url">Your vanity URL</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Titulo</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>